<br><div class="container" [ngClass]="{'back': !todo.active}">
    <em><h4 [ngClass]="{'strike': !todo.active}">{{todo.sno}}</h4></em>
    <h2 [ngClass]="{'strike': !todo.active}">{{todo.title}}</h2>
    <p [ngClass]="{'strike': !todo.active}">{{ todo.desc }}</p>
    <div class="col-auto">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="autoSizingCheck" (click)="clickCheckbox(todo)" [checked]="!todo.active">
          <label class="form-check-label" for="autoSizingCheck">
            Mark to done
          </label>
        </div>
      </div>
    <button class="btn btn-success" (click)="onClick(todo)" [ngClass]="{'disabled': !todo.active}"> Delete</button>
</div>